*{
	font-family:"Courier-New",monospace;
	font-size: 20px;
}
#yellow{
	color: yellow;
}

h1{ 
	font-size: 50px;
}

#learn{ 
	text-transform: uppercase;
}

.languages{
	background-color: green;
}

li[tools]{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}


img + ol{
	list-style-type: none;
}

body img{
	height: 300px;
	width: 300px;
	border-radius: 300px;	
}

p ~ div{
	text-align: center;
}

ol > div{
	letter-spacing: 20px;
}